version: 0.1

server_config:
  address: 127.0.0.1
  port: 19530                       
  deploy_mode: single               
  time_zone: UTC+8              

storage_config:
  primary_path: /home/dvzubarev/data/milvus/
  secondary_path:

db_config:
  backend_url: sqlite://:@:/      
  preload_table:

metric_config:
  enable_monitor: false
  collector: prometheus      
  prometheus_config:
    port: 8080                   

cache_config:
  cpu_cache_capacity: 20
  cache_insert_data: false
  insert_buffer_size: 2


engine_config:
  use_blas_threshold: 20
  gpu_search_threshold: 0

gpu_resource_config:
  enable: true
  cache_capacity: 8
  search_resources:              
    - gpu0
  build_index_resources:
    - gpu0
